<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a6daa0a3f136b3556c1052e54a16bd74 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_a6daa0a3f136b3556c1052e54a16bd74" ></div>
        
</body>
<script>
    
    
            var map_a6daa0a3f136b3556c1052e54a16bd74 = L.map(
                "map_a6daa0a3f136b3556c1052e54a16bd74",
                {
                    center: [33.40666675883335, 72.21260276996742],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_25bad5babbb6991fcf86096758d1824b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a6daa0a3f136b3556c1052e54a16bd74);
        
    
            var marker_5c59d8be5ac1ea243af0b7ebdc004238 = L.marker(
                [33.9655789034441, 72.9394502285868],
                {}
            ).addTo(map_a6daa0a3f136b3556c1052e54a16bd74);
        
    
            var marker_117ca3d852a79f0adf003848a3c569cf = L.marker(
                [33.9654563600197, 72.9393017012626],
                {}
            ).addTo(map_a6daa0a3f136b3556c1052e54a16bd74);
        
    
            var marker_ede4b670f7f95a32393c32f039dcb9a1 = L.marker(
                [33.9654183899984, 72.939294744283],
                {}
            ).addTo(map_a6daa0a3f136b3556c1052e54a16bd74);
        
    
            var marker_84c5c699b19f7c5e31fdfebae127a8cb = L.marker(
                [33.9654654124752, 72.9392483923584],
                {}
            ).addTo(map_a6daa0a3f136b3556c1052e54a16bd74);
        
    
            var marker_dc3d4c8275034c8056208eff2026d33d = L.marker(
                [33.9654654124752, 72.9392483923584],
                {}
            ).addTo(map_a6daa0a3f136b3556c1052e54a16bd74);
        
    
            var marker_f87e591987aeb294b4ee4d610aa3bae6 = L.marker(
                [33.9654483972117, 72.9392777290195],
                {}
            ).addTo(map_a6daa0a3f136b3556c1052e54a16bd74);
        
</script>
</html>